#content .octicon {
  display: inline-block;
  fill: currentColor;
  vertical-align: text-bottom;
}

#content .anchor {
  float: left;
  line-height: 1;
  margin-left: -20px;
  padding-right: 4px;
}

#content .anchor:focus {
  outline: none;
}

#content h1 .octicon-link,
#content h2 .octicon-link,
#content h3 .octicon-link,
#content h4 .octicon-link,
#content h5 .octicon-link,
#content h6 .octicon-link {
  color: #1b1f23;
  vertical-align: middle;
  visibility: hidden;
}

#content h1:hover .anchor,
#content h2:hover .anchor,
#content h3:hover .anchor,
#content h4:hover .anchor,
#content h5:hover .anchor,
#content h6:hover .anchor {
  text-decoration: none;
}

#content h1:hover .anchor .octicon-link,
#content h2:hover .anchor .octicon-link,
#content h3:hover .anchor .octicon-link,
#content h4:hover .anchor .octicon-link,
#content h5:hover .anchor .octicon-link,
#content h6:hover .anchor .octicon-link {
  visibility: visible;
}

#content {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: #24292e;
  line-height: 1.5;
  font-family: Monaco,Arial;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
  padding: 2rem 3rem;
}

#content .pl-c {
  color: #6a737d;
}

#content .pl-c1,
#content .pl-s .pl-v {
  color: #005cc5;
}

#content .pl-e,
#content .pl-en {
  color: #6f42c1;
}

#content .pl-s .pl-s1,
#content .pl-smi {
  color: #24292e;
}

#content .pl-ent {
  color: #22863a;
}

#content .pl-k {
  color: #d73a49;
}

#content .pl-pds,
#content .pl-s,
#content .pl-s .pl-pse .pl-s1,
#content .pl-sr,
#content .pl-sr .pl-cce,
#content .pl-sr .pl-sra,
#content .pl-sr .pl-sre {
  color: #032f62;
}

#content .pl-smw,
#content .pl-v {
  color: #e36209;
}

#content .pl-bu {
  color: #b31d28;
}

#content .pl-ii {
  background-color: #b31d28;
  color: #fafbfc;
}

#content .pl-c2 {
  background-color: #d73a49;
  color: #fafbfc;
}

#content .pl-c2:before {
  content: "^M";
}

#content .pl-sr .pl-cce {
  color: #22863a;
  font-weight: 700;
}

#content .pl-ml {
  color: #735c0f;
}

#content .pl-mh,
#content .pl-mh .pl-en,
#content .pl-ms {
  color: #005cc5;
  font-weight: 700;
}

#content .pl-mi {
  color: #24292e;
  font-style: italic;
}

#content .pl-mb {
  color: #24292e;
  font-weight: 700;
}

#content .pl-md {
  background-color: #ffeef0;
  color: #b31d28;
}

#content .pl-mi1 {
  background-color: #f0fff4;
  color: #22863a;
}

#content .pl-mc {
  background-color: #ffebda;
  color: #e36209;
}

#content .pl-mi2 {
  background-color: #005cc5;
  color: #f6f8fa;
}

#content .pl-mdr {
  color: #6f42c1;
  font-weight: 700;
}

#content .pl-ba {
  color: #586069;
}

#content .pl-sg {
  color: #959da5;
}

#content .pl-corl {
  color: #032f62;
  text-decoration: underline;
}

#content details {
  display: block;
}

#content summary {
  display: list-item;
}

#content a {
  background-color: transparent;
}

#content a:active,
#content a:hover {
  outline-width: 0;
}

#content strong {
  font-weight: inherit;
  font-weight: bolder;
}

#content h1 {
  font-size: 2em;
  margin: .67em 0;
}

#content img {
  border-style: none;
}

#content code,
#content kbd,
#content pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

#content hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

#content input {
  font: inherit;
  margin: 0;
}

#content input {
  overflow: visible;
}

#content [type=checkbox] {
  box-sizing: border-box;
  padding: 0;
}

#content * {
  box-sizing: border-box;
}

#content input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

#content a {
    color: #E91E63;
    text-decoration: none;
}

#content a code{
    color: #E91E63;
}

#content a:hover {
  text-decoration: underline;
}

#content strong {
  font-weight: 600;
}

#content hr {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #dfe2e5;
  height: 0;
  margin: 15px 0;
  overflow: hidden;
}

#content hr:before {
  content: "";
  display: table;
}

#content hr:after {
  clear: both;
  content: "";
  display: table;
}

#content table {
  border-collapse: collapse;
  border-spacing: 0;
}

#content td,
#content th {
  padding: 0;
}

#content details summary {
  cursor: pointer;
}

#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h6 {
  margin-bottom: 0;
  margin-top: 0;
}

#content h1 {
  font-size: 32px;
}

#content h1,
#content h2 {
  font-weight: 600;
}

#content h2 {
  font-size: 24px;
}

#content h3 {
  font-size: 20px;
}

#content h3,
#content h4 {
  font-weight: 600;
}

#content h4 {
  font-size: 16px;
}

#content h5 {
  font-size: 14px;
}

#content h5,
#content h6 {
  font-weight: 600;
}

#content h6 {
  font-size: 12px;
}

#content p {
  margin-bottom: 10px;
  margin-top: 0;
}

#content blockquote {
  margin: 0;
}

#content ol,
#content ul {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

#content ol ol,
#content ul ol {
  list-style-type: lower-roman;
}

#content ol ol ol,
#content ol ul ol,
#content ul ol ol,
#content ul ul ol {
  list-style-type: lower-alpha;
}

#content dd {
  margin-left: 0;
}

#content code,
#content pre {
  font-family: Monaco,Consolas,Liberation Mono,Menlo,Courier,monospace;
  font-size: 14px;
}

#content pre {
  margin-bottom: 0;
  margin-top: 0;
}

#content input::-webkit-inner-spin-button,
#content input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

#content .border {
  border: 1px solid #e1e4e8!important;
}

#content .border-0 {
  border: 0!important;
}

#content .border-bottom {
  border-bottom: 1px solid #e1e4e8!important;
}

#content .rounded-1 {
  border-radius: 3px!important;
}

#content .bg-white {
  background-color: #fff!important;
}

#content .bg-gray-light {
  background-color: #fafbfc!important;
}

#content .text-gray-light {
  color: #6a737d!important;
}

#content .mb-0 {
  margin-bottom: 0!important;
}

#content .my-2 {
  margin-bottom: 8px!important;
  margin-top: 8px!important;
}

#content .pl-0 {
  padding-left: 0!important;
}

#content .py-0 {
  padding-bottom: 0!important;
  padding-top: 0!important;
}

#content .pl-1 {
  padding-left: 4px!important;
}

#content .pl-2 {
  padding-left: 8px!important;
}

#content .py-2 {
  padding-bottom: 8px!important;
  padding-top: 8px!important;
}

#content .pl-3,
#content .px-3 {
  padding-left: 16px!important;
}

#content .px-3 {
  padding-right: 16px!important;
}

#content .pl-4 {
  padding-left: 24px!important;
}

#content .pl-5 {
  padding-left: 32px!important;
}

#content .pl-6 {
  padding-left: 40px!important;
}

#content .f6 {
  font-size: 12px!important;
}

#content .lh-condensed {
  line-height: 1.25!important;
}

#content .text-bold {
  font-weight: 600!important;
}

#content:before {
  content: "";
  display: table;
}

#content:after {
  clear: both;
  content: "";
  display: table;
}

#content>:first-child {
  margin-top: 0!important;
}

#content>:last-child {
  margin-bottom: 0!important;
}

#content a:not([href]) {
  color: inherit;
  text-decoration: none;
}

#content blockquote,
#content dl,
#content ol,
#content p,
#content pre,
#content table,
#content ul {
  margin-bottom: 16px;
  margin-top: 0;
}

#content hr {
  background-color: #e1e4e8;
  border: 0;
  height: .25em;
  margin: 24px 0;
  padding: 0;
}

#content blockquote {
  border-left: .25em solid #dfe2e5;
  color: #6a737d;
  padding: 0 1em;
}

#content blockquote>:first-child {
  margin-top: 0;
}

#content blockquote>:last-child {
  margin-bottom: 0;
}

#content em {
    font-size: 13px;
    color: #424242;
}

#content kbd {
  background-color: #fafbfc;
  border: 1px solid #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5;
  color: #444d56;
  display: inline-block;
  font-size: 11px;
  line-height: 10px;
  padding: 3px 5px;
  vertical-align: middle;
}

#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h6 {
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 16px;
  margin-top: 24px;
}

#content h1 {
  font-size: 2em;
}

#content h1,
#content h2 {
  border-bottom: 1px solid #eaecef;
  padding-bottom: .3em;
}

#content h2 {
  font-size: 1.5em;
}

#content h3 {
  font-size: 1.25em;
}

#content h4 {
  font-size: 1em;
}

#content h5 {
  font-size: .875em;
}

#content h6 {
  color: #6a737d;
  font-size: .85em;
}

#content ol,
#content ul {
  padding-left: 2em;
}

#content ol ol,
#content ol ul,
#content ul ol,
#content ul ul {
  margin-bottom: 0;
  margin-top: 0;
}

#content li {
  word-wrap: break-all;
}

#content li>p {
  margin-top: 16px;
}

#content li+li {
  margin-top: .25em;
}

#content dl {
  padding: 0;
}

#content dl dt {
  font-size: 1em;
  font-style: italic;
  margin-top: 16px;
  padding: 0;
}

#content dl dd {
  margin-bottom: 16px;
  padding: 0 16px;
}

#content table {
  display: block;
  overflow: auto;
  width: 100%;
}

#content table th {
  font-weight: 600;
}

#content table td,
#content table th {
  border: 1px solid #dfe2e5;
  padding: 6px 13px;
}

#content table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

#content table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

#content img {
  display: none;
}

#content img[align=right] {
  padding-left: 20px;
}

#content img[align=left] {
  padding-right: 20px;
}

#content code {
  /* background-color: rgba(27,31,35,.05); */
  background-color: #e1f5fe87;
  color: #0D47A1;
  border-radius: 3px;
  font-size: 85%;
  margin: 0;
  padding: .2em .4em;
  font-style: normal
}

#content code.descname {
    font-weight: bolder;
}

#content pre {
  word-wrap: normal;
}

#content pre>code {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  padding: 0;
  white-space: pre;
  word-break: normal;
}

#content #content .highlight {
  margin-bottom: 16px;
}

#content #content .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

#content #content .highlight pre,
#content pre {
  background-color: #f6f8fa;
  border-radius: 3px;
  font-size: 85%;
  line-height: 1.45;
  overflow: auto;
  padding: 16px;
}

#content pre code {
  background-color: transparent;
  border: 0;
  display: inline;
  line-height: inherit;
  margin: 0;
  max-width: auto;
  overflow: visible;
  padding: 0;
  word-wrap: normal;
}

#content .commit-tease-sha {
  color: #444d56;
  display: inline-block;
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
  font-size: 90%;
}

#content .blob-wrapper {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow-x: auto;
  overflow-y: hidden;
}

#content .blob-wrapper-embedded {
  max-height: 240px;
  overflow-y: auto;
}

#content .blob-num {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  color: rgba(27,31,35,.3);
  cursor: pointer;
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
  font-size: 12px;
  line-height: 20px;
  min-width: 50px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: right;
  user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 1%;
}

#content .blob-num:hover {
  color: rgba(27,31,35,.6);
}

#content .blob-num:before {
  content: attr(data-line-number);
}

#content .blob-code {
  line-height: 20px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  vertical-align: top;
}

#content .blob-code-inner {
  color: #24292e;
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
  font-size: 12px;
  overflow: visible;
  white-space: pre;
  word-wrap: normal;
}

#content .pl-token.active,
#content .pl-token:hover {
  background: #ffea7f;
  cursor: pointer;
}

#content kbd {
  background-color: #fafbfc;
  border: 1px solid #d1d5da;
  border-bottom-color: #c6cbd1;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #c6cbd1;
  color: #444d56;
  display: inline-block;
  font: 11px SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
  line-height: 10px;
  padding: 3px 5px;
  vertical-align: middle;
}

#content :checked+.radio-label {
  border-color: #0366d6;
  position: relative;
  z-index: 1;
}

#content .tab-size[data-tab-size="1"] {
  -moz-tab-size: 1;
  tab-size: 1;
}

#content .tab-size[data-tab-size="2"] {
  -moz-tab-size: 2;
  tab-size: 2;
}

#content .tab-size[data-tab-size="3"] {
  -moz-tab-size: 3;
  tab-size: 3;
}

#content .tab-size[data-tab-size="4"] {
  -moz-tab-size: 4;
  tab-size: 4;
}

#content .tab-size[data-tab-size="5"] {
  -moz-tab-size: 5;
  tab-size: 5;
}

#content .tab-size[data-tab-size="6"] {
  -moz-tab-size: 6;
  tab-size: 6;
}

#content .tab-size[data-tab-size="7"] {
  -moz-tab-size: 7;
  tab-size: 7;
}

#content .tab-size[data-tab-size="8"] {
  -moz-tab-size: 8;
  tab-size: 8;
}

#content .tab-size[data-tab-size="9"] {
  -moz-tab-size: 9;
  tab-size: 9;
}

#content .tab-size[data-tab-size="10"] {
  -moz-tab-size: 10;
  tab-size: 10;
}

#content .tab-size[data-tab-size="11"] {
  -moz-tab-size: 11;
  tab-size: 11;
}

#content .tab-size[data-tab-size="12"] {
  -moz-tab-size: 12;
  tab-size: 12;
}

#content .task-list-item {
  list-style-type: none;
}

#content .task-list-item+.task-list-item {
  margin-top: 3px;
}

#content .task-list-item input {
  margin: 0 .2em .25em -1.6em;
  vertical-align: middle;
}

#content hr {
  border-bottom-color: #eee;
}

#content span.sig-paren {
    font-size: 13px;
}

#content span.std.std-ref {
    font-size: 15px;
}

#content .pl-0 {
  padding-left: 0!important;
}

#content .pl-1 {
  padding-left: 4px!important;
}

#content .pl-2 {
  padding-left: 8px!important;
}

#content .pl-3 {
  padding-left: 16px!important;
}

#content .pl-4 {
  padding-left: 24px!important;
}

#content .pl-5 {
  padding-left: 32px!important;
}

#content .pl-6 {
  padding-left: 40px!important;
}

#content .pl-7 {
  padding-left: 48px!important;
}

#content .pl-8 {
  padding-left: 64px!important;
}

#content .pl-9 {
  padding-left: 80px!important;
}

#content .pl-10 {
  padding-left: 96px!important;
}

#content .pl-11 {
  padding-left: 112px!important;
}

#content .pl-12 {
  padding-left: 128px!important;
}

#content .highlight {
    background: none !important;
}

#content .highlight .hll {
    background-color: #ffffcc
}

#content .highlight {
    background: #eeffcc;
}

#content .highlight .c {
    color: #408090;
    font-style: italic
}

/* Comment */
#content .highlight .err {
    border: 1px solid #FF0000
}

/* Error */
#content .highlight .k {
    color: #007020;
    font-weight: bold
}

/* Keyword */
#content .highlight .o {
    color: #666666
}

/* Operator */
#content .highlight .ch {
    color: #408090;
    font-style: italic
}

/* Comment.Hashbang */
#content .highlight .cm {
    color: #408090;
    font-style: italic
}

/* Comment.Multiline */
#content .highlight .cp {
    color: #007020
}

/* Comment.Preproc */
#content .highlight .cpf {
    color: #408090;
    font-style: italic
}

/* Comment.PreprocFile */
#content .highlight .c1 {
    color: #408090;
    font-style: italic
}

/* Comment.Single */
#content .highlight .cs {
    color: #408090;
    background-color: #fff0f0
}

/* Comment.Special */
#content .highlight .gd {
    color: #A00000
}

/* Generic.Deleted */
#content .highlight .ge {
    font-style: italic
}

/* Generic.Emph */
#content .highlight .gr {
    color: #FF0000
}

/* Generic.Error */
#content .highlight .gh {
    color: #000080;
    font-weight: bold
}

/* Generic.Heading */
#content .highlight .gi {
    color: #00A000
}

/* Generic.Inserted */
#content .highlight .go {
    color: #333333
}

/* Generic.Output */
#content .highlight .gp {
    color: #c65d09;
    font-weight: bold
}

/* Generic.Prompt */
#content .highlight .gs {
    font-weight: bold
}

/* Generic.Strong */
#content .highlight .gu {
    color: #800080;
    font-weight: bold
}

/* Generic.Subheading */
#content .highlight .gt {
    color: #0044DD
}

/* Generic.Traceback */
#content .highlight .kc {
    color: #007020;
    font-weight: bold
}

/* Keyword.Constant */
#content .highlight .kd {
    color: #007020;
    font-weight: bold
}

/* Keyword.Declaration */
#content .highlight .kn {
    color: #007020;
    font-weight: bold
}

/* Keyword.Namespace */
#content .highlight .kp {
    color: #007020
}

/* Keyword.Pseudo */
#content .highlight .kr {
    color: #007020;
    font-weight: bold
}

/* Keyword.Reserved */
#content .highlight .kt {
    color: #902000
}

/* Keyword.Type */
#content .highlight .m {
    color: #208050
}

/* Literal.Number */
#content .highlight .s {
    color: #4070a0
}

/* Literal.String */
#content .highlight .na {
    color: #4070a0
}

/* Name.Attribute */
#content .highlight .nb {
    color: #007020
}

/* Name.Builtin */
#content .highlight .nc {
    color: #0e84b5;
    font-weight: bold
}

/* Name.Class */
#content .highlight .no {
    color: #60add5
}

/* Name.Constant */
#content .highlight .nd {
    color: #555555;
    font-weight: bold
}

/* Name.Decorator */
#content .highlight .ni {
    color: #d55537;
    font-weight: bold
}

/* Name.Entity */
#content .highlight .ne {
    color: #007020
}

/* Name.Exception */
#content .highlight .nf {
    color: #06287e
}

/* Name.Function */
#content .highlight .nl {
    color: #002070;
    font-weight: bold
}

/* Name.Label */
#content .highlight .nn {
    color: #0e84b5;
    font-weight: bold
}

/* Name.Namespace */
#content .highlight .nt {
    color: #062873;
    font-weight: bold
}

/* Name.Tag */
#content .highlight .nv {
    color: #bb60d5
}

/* Name.Variable */
#content .highlight .ow {
    color: #007020;
    font-weight: bold
}

/* Operator.Word */
#content .highlight .w {
    color: #bbbbbb
}

/* Text.Whitespace */
#content .highlight .mb {
    color: #208050
}

/* Literal.Number.Bin */
#content .highlight .mf {
    color: #208050
}

/* Literal.Number.Float */
#content .highlight .mh {
    color: #208050
}

/* Literal.Number.Hex */
#content .highlight .mi {
    color: #208050
}

/* Literal.Number.Integer */
#content .highlight .mo {
    color: #208050
}

/* Literal.Number.Oct */
#content .highlight .sa {
    color: #4070a0
}

/* Literal.String.Affix */
#content .highlight .sb {
    color: #4070a0
}

/* Literal.String.Backtick */
#content .highlight .sc {
    color: #4070a0
}

/* Literal.String.Char */
#content .highlight .dl {
    color: #4070a0
}

/* Literal.String.Delimiter */
#content .highlight .sd {
    color: #4070a0;
    font-style: italic
}

/* Literal.String.Doc */
#content .highlight .s2 {
    color: #4070a0
}

/* Literal.String.Double */
#content .highlight .se {
    color: #4070a0;
    font-weight: bold
}

/* Literal.String.Escape */
#content .highlight .sh {
    color: #4070a0
}

/* Literal.String.Heredoc */
#content .highlight .si {
    color: #70a0d0;
    font-style: italic
}

/* Literal.String.Interpol */
#content .highlight .sx {
    color: #c65d09
}

/* Literal.String.Other */
#content .highlight .sr {
    color: #235388
}

/* Literal.String.Regex */
#content .highlight .s1 {
    color: #4070a0
}

/* Literal.String.Single */
#content .highlight .ss {
    color: #517918
}

/* Literal.String.Symbol */
#content .highlight .bp {
    color: #007020
}

/* Name.Builtin.Pseudo */
#content .highlight .fm {
    color: #06287e
}

/* Name.Function.Magic */
#content .highlight .vc {
    color: #bb60d5
}

/* Name.Variable.Class */
#content .highlight .vg {
    color: #bb60d5
}

/* Name.Variable.Global */
#content .highlight .vi {
    color: #bb60d5
}

/* Name.Variable.Instance */
#content .highlight .vm {
    color: #bb60d5
}

/* Name.Variable.Magic */
#content .highlight .il {
    color: #208050
}

/* Literal.Number.Integer.Long */