#options {
    display: none;
    font-size: 15px;
    color: #595959;
    font-family: consolas, monaco,"微软雅黑";
    padding-bottom: 30px
}

#options *{
    box-sizing: border-box;
}

#options .switch-btn {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 80px;
    height: 30px;
    border-radius: 18px;
    cursor: pointer;
    zoom: 0.6;
}

#options .checked-switch {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

#options .text-switch {
    background-color: #ed5b49;
    border: 1px solid #d2402e;
    border-radius: inherit;
    color: #fff;
    display: block;
    font-size: 15px;
    width: 50px;
    height: inherit;
    position: relative;
    text-transform: uppercase;
}

#options .text-switch:before,
#options .text-switch:after {
    position: absolute;
    top: 50%;
    margin-top: -.5em;
    line-height: 1;
    -webkit-transition: inherit;
    -moz-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
}

#options .text-switch:before {
    content: attr(data-no);
    right: 11px;
}

#options .text-switch:after {
    content: attr(data-yes);
    left: 11px;
    color: #FFFFFF;
    opacity: 0;
}

#options .checked-switch:checked~.text-switch {
    background-color: #00af2c;
    border: 1px solid #068506;
}

#options .checked-switch:disabled~.text-switch {
    background-color: #9E9E9E!important;
    border: 1px solid #9E9E9E !important;
}

#options .checked-switch:checked~.text-switch:before {
    opacity: 0;
}

#options .checked-switch:checked~.text-switch:after {
    opacity: 1;
}

#options .toggle-btn {
    background: linear-gradient(#eee, #fafafa);
    border-radius: 100%;
    height: 28px;
    left: 1px;
    position: absolute;
    top: 1px;
    width: 28px;
}

#options .checked-switch:checked~.toggle-btn {
    left: 20px;
}

#options .text-switch,
#options .toggle-btn {
    transition: All 0.3s ease;
    -webkit-transition: All 0.3s ease;
    -moz-transition: All 0.3s ease;
    -o-transition: All 0.3s ease;
}

#options .no-radius,
#options .no-radius .toggle-btn {
    border-radius: 0;
}

#options .circle-style .toggle-btn::before {
    background: linear-gradient(#dedede, #cacaca);
    border-radius: 50%;
    content: "";
    height: 14px;
    margin-top: 6px;
    padding: 0;
    width: 14px;
}

#options table {
    border-collapse: collapse;
    width: 100%;
}

#options table td {
    border-collapse: collapse;
    padding: 6px;
    word-break: break-all;
}

#options table tr:nth-child(odd) {
    background-color: #fff !important;
}

#options table tr:nth-child(even) {
    background-color: #f8f8f8 !important;
}

#options .keyword {
    display: inline-block;
    font-size: 14px;
    color: #333;
    border: 1px solid #eee;
    border-radius: 12px;
    height: 24px;
    line-height: 22px;
    padding: 0 10px;
    background-color: #f3f3f3;
    margin-right: 5px
}

#options .logo{
    width: 32px;
}

#options .addBtn{
    position: absolute;
    right: 5px;
    bottom: 2px;
    border-radius: 4px;
    background: #00af2c;
    color: white;
    padding: 2px;
    cursor: pointer;
}

#options .addBtn:hover{
    background: #068506;
    transition: 0.5s;
}

#options .foot{
    position: fixed;
    height: 30px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: #f3f3f3;
    box-shadow: 0px 0px 9px 0px #00000030;
    padding: 5px;
}

#options span{
    margin-right: 10px;
}

#options span.editBtn{
    font-size: 16px;
    cursor: pointer;
    color: #00af2c;
}
#options span.delBtn{
    font-size: 16px;
    cursor: pointer;
    color: #ed5b49
}

#options span.editBtn:hover{
    color: #057205;
}

#options span.delBtn:hover{
    color: #bd3523;
}

#options #customize{
    position: fixed;
    right: -370px;
    top: 0;
    bottom: 0;
    padding: 30px;
    box-shadow: 0px 0px 9px 0px #00000030;
    color: black;
    background: white;
}

#options #customize p{
    line-height: 2.5rem;
}

#options #customize input{
    width: 300px;
    height: 25px;
    border-bottom: 1px solid #dbdbdb;  
    border-top:0px;  
    border-left:0px;  
    border-right:0px; 
    font-size: 15px
}

#options #customize input:hover {
    border-bottom-color: #9e9e9ec7;
    transition: 0.25s;
}

#options #customize input:focus {
    outline: none;
    border-bottom-color: #0277BD;
    transition: 0.5s;
}

#options #customize button{
    width: 150px;
    height: 30px;
    border-width: 0px;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    color: white;
}

#options #customize button.cancelBtn{
    background: #808080c9;
}

#options #customize button.saveBtn{
    background: #1E90FF;
}

#options #customize button.saveBtn:hover{
    background: #5599FF;
    transition: 0.5s;
}

#options #customize button.cancelBtn:hover{
    background: #a5a2a2c9;
    transition: 0.5s;
}