#mainlist {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#mainlist .info {
    background: #f5f5f533;
    cursor: pointer;
    height: 50px;
}

#mainlist .name {
    padding-top: 10px;
    font-family: "consolas";
}

#mainlist .type {
    float: right;
    margin: 15px 10px;
    height: 20px;
    color: #666666
}

#mainlist .description {
    color: #888888;
    font-size: small;
    font-family: "consolas";
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

#mainlist .initial {
    float: left;
    margin: 15px 10px;
    height: 20px;
    font-size: 20px;
    font-weight: bold;
    font-family: "courier new",微软雅黑;
    color: #2196F3;
    text-shadow: 1px 1px black;
}

#mainlist .select{
    background: #ebebeb;
}

#manual {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 2rem 3rem;
    display: none;
    overflow-y: auto;
    overflow-x: hidden;
}

.founds {
    background-color: #ff572236;
    color: #fd4005;
    border-radius: 4px;
}

.firstFound{
    box-shadow: 0px 0px 5px 1px #FF5722;
}


::-webkit-scrollbar {
    width:9px;
    height: 5px;
}

::-webkit-scrollbar-track {
    -webkit-border-radius:5px;
    border-radius:5px;
    background:rgba(0,0,0,0.1);
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius:5px;
    border-radius:5px;
    background:rgba(0,0,0,0.2);
}

::-webkit-scrollbar-thumb:hover {
    background:rgba(0,0,0,0.4);
}

::-webkit-scrollbar-thumb:window-inactive {
    background:rgba(0,0,0,0.05);
}