#options,
#options *,
#manual,
#manualBody {
    background: #303133;
    color: #f6f6f6;
}

/*设置*/
#options .keyword {
    background: #505050;
    color: #f1f2f3;
    border: 1px solid #ffffff1f;
}

#options .foot {
    background: #292b2d;
    box-shadow: 0px 0px 9px 0px #000000ab;
}

#options #customize {
    background: #303133;
}

#options #customize input {
    border-bottom: 1px solid #696666;
}

/*列表*/
#mainlist .info {
    background: #303133;
    color: #f1f2f3;
}

#mainlist .info.select {
    background: #585958;
}

/*手册*/
#manual #manualNavi ul {
    background: #313131;
    box-shadow: 0 0 10px #000;
}

#manual #manualNavi ul input {
    background: #313131;
    color: #f6f6f6;
}

#manual h1, #manual h2 {
    border-bottom: 1px solid #656565;
}

#manual code, #manual kbd, #manual pre {
    color: #f6f6f6;
    background: #3b3b3c;
}

#manual blockquote {
    color: #30a06d;
}

#manual h3 {
    background: #1e1e1f;
    border: 1px solid #696969;
    color: #ffffff;
}

#manual table tr {
    background-color: #383838;
    border-top: 1px solid #c6cbd1;
}

#manual table tr:nth-child(2n) {
    background-color: #4a4a4a;
}

#manual table td, #manual table th {
    border: 1px solid #464646;
}

#manual h3 code {
    color: #98c7de;
}

#manual em {
    color: #a0a0a0;
}

#manual strong {
    color: #92c3f3;
}

#manual pre code {
    color: #ffffff;
}

/*jQuery fix*/
.syntaxhighlighter {
    background: #3a3a3a;
}

pre .tag, pre .tag .title, pre .rules .property, pre .django .tag .keyword, pre .keyword {
    color: #03A9F4;
}

#manual code a {
    color: #94d3ff;
}

div.warning {
    background: #444444;
}

/*滚动条*/
/* .nicescroll-cursors {
    border: 1px solid rgba(255, 255, 255, 0.15) !important;
} */

::-webkit-scrollbar {
    width: 6px;
    height: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(153, 153, 153);
    height: 30px;
    border-radius: 7px;
    border: none;
}

::-webkit-scrollbar-track-piece {
    background-color: rgb(87, 87, 87);
}