#options * {
    background: #303133;
    color: white;
}

#options .keyword {
    background: #505050;
    color: #f1f2f3;
    border: 1px solid #ffffff1f;
}

#options .foot {
    background: #292b2d;
    box-shadow: 0px 0px 9px 0px #000000ab;
}

#options #customize {
    background: #303133;
}

#options #customize input {
    border-bottom: 1px solid #696666;
}

#mainlist .info {
    background: #303133;
    color: #f1f2f3;
}

#manual,
#manualBody {
    background: #e6e6e6;
}

#mainlist .info.select {
    background: #585958;
}

#manual #manualNavi ul {
    /* background: #585958; */
    background: #e6e6e6;
    box-shadow: 0 0 10px #000;
}

#manual #manualNavi ul input {
    /* background: #585958; */
    background: #e6e6e6;
    /* color: white; */
}

.nicescroll-cursors {
    border: 1px solid rgba(255, 255, 255, 0.15) !important;
}