#manual .octicon {
    display: inline-block;
    fill: currentColor;
    vertical-align: text-bottom;
}

#manual .anchor {
    float: left;
    line-height: 1;
    margin-left: -20px;
    padding-right: 4px;
}

#manual .anchor:focus {
    outline: none;
}

#manual h1 .octicon-link,
#manual h2 .octicon-link,
#manual h3 .octicon-link,
#manual h4 .octicon-link,
#manual h5 .octicon-link,
#manual h6 .octicon-link {
    color: #1b1f23;
    vertical-align: middle;
    visibility: hidden;
}

#manual h1:hover .anchor,
#manual h2:hover .anchor,
#manual h3:hover .anchor,
#manual h4:hover .anchor,
#manual h5:hover .anchor,
#manual h6:hover .anchor {
    text-decoration: none;
}

#manual h1:hover .anchor .octicon-link,
#manual h2:hover .anchor .octicon-link,
#manual h3:hover .anchor .octicon-link,
#manual h4:hover .anchor .octicon-link,
#manual h5:hover .anchor .octicon-link,
#manual h6:hover .anchor .octicon-link {
    visibility: visible;
}

#manual {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    color: #24292e;
    line-height: 1.5;
    font-family: Monaco, Arial;
    font-size: 14px;
    line-height: 1.5;
    word-wrap: break-word;
}

#manual .pl-c {
    color: #6a737d;
}

#manual .pl-c1,
#manual .pl-s .pl-v {
    color: #005cc5;
}

#manual .pl-e,
#manual .pl-en {
    color: #6f42c1;
}

#manual .pl-s .pl-s1,
#manual .pl-smi {
    color: #24292e;
}

#manual .pl-ent {
    color: #22863a;
}

#manual .pl-k {
    color: #d73a49;
}

#manual .pl-pds,
#manual .pl-s,
#manual .pl-s .pl-pse .pl-s1,
#manual .pl-sr,
#manual .pl-sr .pl-cce,
#manual .pl-sr .pl-sra,
#manual .pl-sr .pl-sre {
    color: #032f62;
}

#manual .pl-smw,
#manual .pl-v {
    color: #e36209;
}

#manual .pl-bu {
    color: #b31d28;
}

#manual .pl-ii {
    background-color: #b31d28;
    color: #fafbfc;
}

#manual .pl-c2 {
    background-color: #d73a49;
    color: #fafbfc;
}

#manual .pl-c2:before {
    content: "^M";
}

#manual .pl-sr .pl-cce {
    color: #22863a;
    font-weight: 700;
}

#manual .pl-ml {
    color: #735c0f;
}

#manual .pl-mh,
#manual .pl-mh .pl-en,
#manual .pl-ms {
    color: #005cc5;
    font-weight: 700;
}

#manual .pl-mi {
    color: #24292e;
    font-style: italic;
}

#manual .pl-mb {
    color: #24292e;
    font-weight: 700;
}

#manual .pl-md {
    background-color: #ffeef0;
    color: #b31d28;
}

#manual .pl-mi1 {
    background-color: #f0fff4;
    color: #22863a;
}

#manual .pl-mc {
    background-color: #ffebda;
    color: #e36209;
}

#manual .pl-mi2 {
    background-color: #005cc5;
    color: #f6f8fa;
}

#manual .pl-mdr {
    color: #6f42c1;
    font-weight: 700;
}

#manual .pl-ba {
    color: #586069;
}

#manual .pl-sg {
    color: #959da5;
}

#manual .pl-corl {
    color: #032f62;
    text-decoration: underline;
}

#manual details {
    display: block;
}

#manual summary {
    display: list-item;
}

#manual a {
    background-color: transparent;
}

#manual a:active,
#manual a:hover {
    outline-width: 0;
}

#manual strong {
    font-weight: inherit;
    font-weight: bolder;
}

#manual h1 {
    font-size: 2em;
    margin: .67em 0;
}

#manual code,
#manual kbd,
#manual pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

#manual hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

#manual input {
    font: inherit;
    margin: 0;
}

#manual input {
    overflow: visible;
}

#manual [type=checkbox] {
    box-sizing: border-box;
    padding: 0;
}

#manual * {
    box-sizing: border-box;
}

#manual input {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

#manual a {
    color: #42b983;
    text-decoration: none;
}

#manual a code {
    color: #42b983;
}

#manual a:hover {
    text-decoration: underline;
}

#manual strong {
    font-weight: 600;
}

#manual hr {
    background: transparent;
    border: 0;
    border-bottom: 1px solid #dfe2e5;
    height: 0;
    margin: 15px 0;
    overflow: hidden;
}

#manual hr:before {
    content: "";
    display: table;
}

#manual hr:after {
    clear: both;
    content: "";
    display: table;
}

#manual table {
    border-collapse: collapse;
    border-spacing: 0;
}

#manual td,
#manual th {
    padding: 0;
}

#manual details summary {
    cursor: pointer;
}

#manual h1,
#manual h2,
#manual h3,
#manual h4,
#manual h5,
#manual h6 {
    margin-bottom: 0;
    margin-top: 0;
}

#manual h1 {
    font-size: 32px;
}

#manual h1,
#manual h2 {
    font-weight: 600;
}

#manual h2 {
    font-size: 24px;
}

#manual h3 {
    font-size: 20px;
}

#manual h3,
#manual h4 {
    font-weight: 600;
}

#manual h4 {
    font-size: 16px;
}

#manual h5 {
    font-size: 14px;
}

#manual h5,
#manual h6 {
    font-weight: 600;
}

#manual h6 {
    font-size: 12px;
}

#manual p {
    margin-bottom: 10px;
    margin-top: 0;
}

#manual blockquote {
    margin: 0;
}

#manual ol,
#manual ul {
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
}

#manual ol ol,
#manual ul ol {
    list-style-type: lower-roman;
}

#manual ol ol ol,
#manual ol ul ol,
#manual ul ol ol,
#manual ul ul ol {
    list-style-type: lower-alpha;
}

#manual dd {
    margin-left: 0;
}

#manual code,
#manual pre {
    font-family: Monaco, Consolas, Liberation Mono, Menlo, Courier, monospace;
    font-size: 95%;
}

#manual pre {
    margin-bottom: 0;
    margin-top: 0;
}

#manual input::-webkit-inner-spin-button,
#manual input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

#manual .border {
    border: 1px solid #e1e4e8 !important;
}

#manual .border-0 {
    border: 0 !important;
}

#manual .border-bottom {
    border-bottom: 1px solid #e1e4e8 !important;
}

#manual .rounded-1 {
    border-radius: 3px !important;
}

#manual .bg-white {
    background-color: #fff !important;
}

#manual .bg-gray-light {
    background-color: #fafbfc !important;
}

#manual .text-gray-light {
    color: #6a737d !important;
}

#manual .mb-0 {
    margin-bottom: 0 !important;
}

#manual .my-2 {
    margin-bottom: 8px !important;
    margin-top: 8px !important;
}

#manual .pl-0 {
    padding-left: 0 !important;
}

#manual .py-0 {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}

#manual .pl-1 {
    padding-left: 4px !important;
}

#manual .pl-2 {
    padding-left: 8px !important;
}

#manual .py-2 {
    padding-bottom: 8px !important;
    padding-top: 8px !important;
}

#manual .pl-3,
#manual .px-3 {
    padding-left: 16px !important;
}

#manual .px-3 {
    padding-right: 16px !important;
}

#manual .pl-4 {
    padding-left: 24px !important;
}

#manual .pl-5 {
    padding-left: 32px !important;
}

#manual .pl-6 {
    padding-left: 40px !important;
}

#manual .f6 {
    font-size: 12px !important;
}

#manual .lh-condensed {
    line-height: 1.25 !important;
}

#manual .text-bold {
    font-weight: 600 !important;
}

#manual>:first-child {
    margin-top: 0 !important;
}

#manual>:last-child {
    margin-bottom: 0 !important;
}

#manual a:not([href]) {
    color: inherit;
    text-decoration: none;
}

#manual blockquote,
#manual dl,
#manual ol,
#manual p,
#manual pre,
#manual table,
#manual ul {
    margin-bottom: 16px;
    margin-top: 0;
}

#manual hr {
    background-color: #e1e4e8;
    border: 0;
    height: .25em;
    margin: 24px 0;
    padding: 0;
}

#manual blockquote {
    border-left: 4px solid #42b983;
    color: #34495e;
    padding: 0 1em;
}

#manual blockquote>:first-child {
    margin-top: 0;
}

#manual blockquote>:last-child {
    margin-bottom: 0;
}

#manual em {
    font-size: 13px;
    color: #424242;
}

#manual kbd {
    background-color: #fafbfc;
    border: 1px solid #c6cbd1;
    border-bottom-color: #959da5;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #959da5;
    color: #444d56;
    display: inline-block;
    font-size: 11px;
    line-height: 10px;
    padding: 3px 5px;
    vertical-align: middle;
}

#manual h1,
#manual h2,
#manual h3,
#manual h4,
#manual h5,
#manual h6 {
    font-weight: 600;
    line-height: 1.25;
    margin-bottom: 16px;
    margin-top: 24px;
}

#manual h1 {
    font-size: 1.5em;
}

#manual h1,
#manual h2 {
    border-bottom: 1px solid #eaecef;
    padding-bottom: .3em;
}

#manual h2 {
    font-size: 1.5em;
}

#manual h3 {
    font-size: 1.1em;
    background: #E1F5FE;
    padding: 2px 0px 2px 5px;
    border-radius: 3px;
    border: 1px solid #03A9F4;
    color: #37474F;
}

#manual h3 code{
    background: unset;
    padding: 0;
    color: #37474F;
}

#manual h4 {
    font-size: 1em;
}

#manual h5 {
    font-size: .875em;
}

#manual h6 {
    color: #6a737d;
    font-size: .85em;
}

#manual ol,
#manual ul {
    padding-left: 1em;
}

#manual ol ol,
#manual ol ul,
#manual ul ol,
#manual ul ul {
    margin-bottom: 0;
    margin-top: 0;
}

#manual li {
    word-wrap: break-word;
}

#manual li>p {
    margin-top: 16px;
}

#manual li+li {
    margin-top: .25em;
}

#manual dl {
    padding: 0;
}

#manual dl dt {
    font-size: 1em;
    font-style: italic;
    margin-top: 16px;
    padding: 0;
}

#manual dl dd {
    margin-bottom: 16px;
    padding: 0 16px;
}

#manual table {
    display: block;
    overflow: auto;
    width: 100%;
}

#manual table th {
    font-weight: 600;
}

#manual table td,
#manual table th {
    border: 1px solid #dfe2e5;
    padding: 6px 13px;
}

#manual table tr {
    background-color: #fff;
    border-top: 1px solid #c6cbd1;
}

#manual img {
    display: none;
}

#manual img.whitelist {
    display: block;
}

#manual table tr:nth-child(2n) {
    background-color: #f6f8fa;
}

#manual img[align=right] {
    padding-left: 20px;
}

#manual img[align=left] {
    padding-right: 20px;
}

code {
    background-color: #f8f8f8;
    color: #607D8B;
    padding: 3px 5px;
    margin: 0 2px;
    border-radius: 2px;
    white-space: nowrap;
}

code.descname {
    font-weight: bolder;
}

pre {
    word-wrap: normal;
}

pre>code {
    background: transparent;
    border: 0;
    font-size: 100%;
    margin: 0;
    padding: 0;
    white-space: pre;
    word-break: normal;
}

.highlight {
    margin-bottom: 16px;
}

.highlight pre {
    margin-bottom: 0;
    word-break: normal;
}

.highlight pre,
pre {
    background-color: #f6f8fa;
    border-radius: 3px;
    font-size: 85%;
    line-height: 1.45;
    overflow: auto;
    padding: 10px;
}

.phpcode code{
    display: block;
    padding: 10px 20px;
}

pre code {
    background-color: transparent;
    border: 0;
    display: inline;
    line-height: inherit;
    margin: 0;
    max-width: auto;
    overflow: visible;
    padding: 0;
    word-wrap: normal;
}

#manual .commit-tease-sha {
    color: #444d56;
    display: inline-block;
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
    font-size: 90%;
}

#manual .blob-wrapper {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    overflow-x: auto;
    overflow-y: hidden;
}

#manual .blob-wrapper-embedded {
    max-height: 240px;
    overflow-y: auto;
}

#manual .blob-num {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    color: rgba(27, 31, 35, .3);
    cursor: pointer;
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
    font-size: 12px;
    line-height: 20px;
    min-width: 50px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: right;
    user-select: none;
    vertical-align: top;
    white-space: nowrap;
    width: 1%;
}

#manual .blob-num:hover {
    color: rgba(27, 31, 35, .6);
}

#manual .blob-num:before {
    content: attr(data-line-number);
}

#manual .blob-code {
    line-height: 20px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    vertical-align: top;
}

#manual .blob-code-inner {
    color: #24292e;
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
    font-size: 12px;
    overflow: visible;
    white-space: pre;
    word-wrap: normal;
}

#manual .pl-token.active,
#manual .pl-token:hover {
    background: #ffea7f;
    cursor: pointer;
}

#manual kbd {
    background-color: #fafbfc;
    border: 1px solid #d1d5da;
    border-bottom-color: #c6cbd1;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #c6cbd1;
    color: #444d56;
    display: inline-block;
    font: 11px SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
    line-height: 10px;
    padding: 3px 5px;
    vertical-align: middle;
}

#manual :checked+.radio-label {
    border-color: #0366d6;
    position: relative;
    z-index: 1;
}

#manual .tab-size[data-tab-size="1"] {
    -moz-tab-size: 1;
    tab-size: 1;
}

#manual .tab-size[data-tab-size="2"] {
    -moz-tab-size: 2;
    tab-size: 2;
}

#manual .tab-size[data-tab-size="3"] {
    -moz-tab-size: 3;
    tab-size: 3;
}

#manual .tab-size[data-tab-size="4"] {
    -moz-tab-size: 4;
    tab-size: 4;
}

#manual .tab-size[data-tab-size="5"] {
    -moz-tab-size: 5;
    tab-size: 5;
}

#manual .tab-size[data-tab-size="6"] {
    -moz-tab-size: 6;
    tab-size: 6;
}

#manual .tab-size[data-tab-size="7"] {
    -moz-tab-size: 7;
    tab-size: 7;
}

#manual .tab-size[data-tab-size="8"] {
    -moz-tab-size: 8;
    tab-size: 8;
}

#manual .tab-size[data-tab-size="9"] {
    -moz-tab-size: 9;
    tab-size: 9;
}

#manual .tab-size[data-tab-size="10"] {
    -moz-tab-size: 10;
    tab-size: 10;
}

#manual .tab-size[data-tab-size="11"] {
    -moz-tab-size: 11;
    tab-size: 11;
}

#manual .tab-size[data-tab-size="12"] {
    -moz-tab-size: 12;
    tab-size: 12;
}

#manual .task-list-item {
    list-style-type: none;
}

#manual .task-list-item+.task-list-item {
    margin-top: 3px;
}

#manual .task-list-item input {
    margin: 0 .2em .25em -1.6em;
    vertical-align: middle;
}

#manual hr {
    border-bottom-color: #eee;
}

#manual span.sig-paren {
    font-size: 13px;
}

#manual span.std.std-ref {
    font-size: 15px;
}

#manual .pl-0 {
    padding-left: 0 !important;
}

#manual .pl-1 {
    padding-left: 4px !important;
}

#manual .pl-2 {
    padding-left: 8px !important;
}

#manual .pl-3 {
    padding-left: 16px !important;
}

#manual .pl-4 {
    padding-left: 24px !important;
}

#manual .pl-5 {
    padding-left: 32px !important;
}

#manual .pl-6 {
    padding-left: 40px !important;
}

#manual .pl-7 {
    padding-left: 48px !important;
}

#manual .pl-8 {
    padding-left: 64px !important;
}

#manual .pl-9 {
    padding-left: 80px !important;
}

#manual .pl-10 {
    padding-left: 96px !important;
}

#manual .pl-11 {
    padding-left: 112px !important;
}

#manual .pl-12 {
    padding-left: 128px !important;
}

/* #manual .withNaviBar {
    padding-right: 250px;
    transition: 0.2s;
} */